example/enable_process.json
{
    "flowContents": {
        "identifier": "e4e87df8-d023-3e68-804d-ee6cda698cbd",
        "name": "My_way",
        "comments": "Testing PG for checklist",
        "position": {
            "x": 5272,
            "y": 1648
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "ecf64ea2-1749-3c78-8602-2d5d1efbfa42",
                "name": "My_way_PutSQL",
                "comments": "",
                "position": {
                    "x": 856,
                    "y": 272
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.11.4"
                },
                "style": {},
                "type": "org.apache.nifi.processors.standard.PutSQL",
                "properties": {
                    "Support Fragmented Transactions": "false",
                    "putsql-sql-statement": null,
                    "Transaction Timeout": null,
                    "Batch Size": "3",
                    "Obtain Generated Keys": "false",
                    "JDBC Connection Pool": "a72d589c-5ec1-3d0b-bf49-452db868d248",
                    "database-session-autocommit": "false",
                    "rollback-on-failure": "true"
                },
                "propertyDescriptors": {
                    "Support Fragmented Transactions": {
                        "name": "Support Fragmented Transactions",
                        "displayName": "Support Fragmented Transactions",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "putsql-sql-statement": {
                        "name": "putsql-sql-statement",
                        "displayName": "SQL Statement",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Transaction Timeout": {
                        "name": "Transaction Timeout",
                        "displayName": "Transaction Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Batch Size": {
                        "name": "Batch Size",
                        "displayName": "Batch Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Obtain Generated Keys": {
                        "name": "Obtain Generated Keys",
                        "displayName": "Obtain Generated Keys",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "JDBC Connection Pool": {
                        "name": "JDBC Connection Pool",
                        "displayName": "JDBC Connection Pool",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "database-session-autocommit": {
                        "name": "database-session-autocommit",
                        "displayName": "Database Session AutoCommit",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "rollback-on-failure": {
                        "name": "rollback-on-failure",
                        "displayName": "Rollback On Failure",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "e4e87df8-d023-3e68-804d-ee6cda698cbd"
            },
            {
                "identifier": "39844850-368e-3f3b-b294-4fb05f98921e",
                "name": "My_way_ConsumeKafka_2_0",
                "comments": "",
                "position": {
                    "x": 6.90862416822506,
                    "y": 9.014991070278938
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-kafka-2-0-nar",
                    "version": "1.11.4"
                },
                "style": {},
                "type": "org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_0",
                "properties": {
                    "header-name-regex": null,
                    "sasl.username": "${kafka.user}",
                    "max.poll.records": "3000",
                    "group.id": "${kafka.group}",
                    "bootstrap.servers": "${kafka.hosts}",
                    "topic_type": "names",
                    "sasl.kerberos.principal": null,
                    "sasl.kerberos.service.name": "kafka",
                    "security.protocol": "SASL_SSL",
                    "kerberos-credentials-service": null,
                    "ssl.context.service": "edf141d3-10cd-397f-b7c5-8ffdd8a95289",
                    "max-uncommit-offset-wait": "1 secs",
                    "sasl.mechanism": "SCRAM-SHA-256",
                    "sasl.token.auth": "false",
                    "sasl.kerberos.keytab": null,
                    "honor-transactions": "true",
                    "Communications Timeout": "60 secs",
                    "topic": "${kafka.topic}",
                    "message-header-encoding": "UTF-8",
                    "message-demarcator": null,
                    "key-attribute-encoding": "utf-8",
                    "auto.offset.reset": "earliest"
                },
                "propertyDescriptors": {
                    "header-name-regex": {
                        "name": "header-name-regex",
                        "displayName": "Headers to Add as Attributes (Regex)",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "sasl.username": {
                        "name": "sasl.username",
                        "displayName": "Username",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "max.poll.records": {
                        "name": "max.poll.records",
                        "displayName": "Max Poll Records",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "group.id": {
                        "name": "group.id",
                        "displayName": "Group ID",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "bootstrap.servers": {
                        "name": "bootstrap.servers",
                        "displayName": "Kafka Brokers",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "topic_type": {
                        "name": "topic_type",
                        "displayName": "Topic Name Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "sasl.kerberos.principal": {
                        "name": "sasl.kerberos.principal",
                        "displayName": "Kerberos Principal",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "sasl.kerberos.service.name": {
                        "name": "sasl.kerberos.service.name",
                        "displayName": "Kerberos Service Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "security.protocol": {
                        "name": "security.protocol",
                        "displayName": "Security Protocol",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "kerberos-credentials-service": {
                        "name": "kerberos-credentials-service",
                        "displayName": "Kerberos Credentials Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "ssl.context.service": {
                        "name": "ssl.context.service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "max-uncommit-offset-wait": {
                        "name": "max-uncommit-offset-wait",
                        "displayName": "Max Uncommitted Time",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "sasl.mechanism": {
                        "name": "sasl.mechanism",
                        "displayName": "SASL Mechanism",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "sasl.token.auth": {
                        "name": "sasl.token.auth",
                        "displayName": "Token Auth",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "sasl.kerberos.keytab": {
                        "name": "sasl.kerberos.keytab",
                        "displayName": "Kerberos Keytab",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "honor-transactions": {
                        "name": "honor-transactions",
                        "displayName": "Honor Transactions",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Communications Timeout": {
                        "name": "Communications Timeout",
                        "displayName": "Communications Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "topic": {
                        "name": "topic",
                        "displayName": "Topic Name(s)",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "message-header-encoding": {
                        "name": "message-header-encoding",
                        "displayName": "Message Header Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "sasl.password": {
                        "name": "sasl.password",
                        "displayName": "Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "message-demarcator": {
                        "name": "message-demarcator",
                        "displayName": "Message Demarcator",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "key-attribute-encoding": {
                        "name": "key-attribute-encoding",
                        "displayName": "Key Attribute Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "auto.offset.reset": {
                        "name": "auto.offset.reset",
                        "displayName": "Offset Reset",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "schedulingPeriod": "1 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "e4e87df8-d023-3e68-804d-ee6cda698cbd"
            },
            {
                "identifier": "d2cc5cd7-0989-3d19-ab7b-64c34797b29a",
                "name": "My_way_MergeContent",
                "comments": "",
                "position": {
                    "x": 12.560599109631198,
                    "y": 450.16424905476697
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.11.4"
                },
                "style": {},
                "type": "org.apache.nifi.processors.standard.MergeContent",
                "properties": {
                    "Keep Path": "false",
                    "Maximum Group Size": null,
                    "Merge Strategy": "Bin-Packing Algorithm",
                    "Attribute Strategy": "Keep Only Common Attributes",
                    "Compression Level": "1",
                    "Maximum Number of Entries": "10000",
                    "Minimum Group Size": "0 B",
                    "Maximum number of Bins": "10",
                    "Tar Modified Time": "${file.lastModifiedTime}",
                    "Delimiter Strategy": "Text",
                    "Merge Format": "Binary Concatenation",
                    "Footer File": "]",
                    "Max Bin Age": "300sec",
                    "Demarcator File": ",",
                    "Correlation Attribute Name": "table",
                    "Header File": "[",
                    "mergecontent-metadata-strategy": "Do Not Merge Uncommon Metadata",
                    "Minimum Number of Entries": "5000"
                },
                "propertyDescriptors": {
                    "Keep Path": {
                        "name": "Keep Path",
                        "displayName": "Keep Path",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Maximum Group Size": {
                        "name": "Maximum Group Size",
                        "displayName": "Maximum Group Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Merge Strategy": {
                        "name": "Merge Strategy",
                        "displayName": "Merge Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Attribute Strategy": {
                        "name": "Attribute Strategy",
                        "displayName": "Attribute Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Compression Level": {
                        "name": "Compression Level",
                        "displayName": "Compression Level",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Maximum Number of Entries": {
                        "name": "Maximum Number of Entries",
                        "displayName": "Maximum Number of Entries",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Minimum Group Size": {
                        "name": "Minimum Group Size",
                        "displayName": "Minimum Group Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Maximum number of Bins": {
                        "name": "Maximum number of Bins",
                        "displayName": "Maximum number of Bins",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Tar Modified Time": {
                        "name": "Tar Modified Time",
                        "displayName": "Tar Modified Time",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Delimiter Strategy": {
                        "name": "Delimiter Strategy",
                        "displayName": "Delimiter Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Merge Format": {
                        "name": "Merge Format",
                        "displayName": "Merge Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Footer File": {
                        "name": "Footer File",
                        "displayName": "Footer",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max Bin Age": {
                        "name": "Max Bin Age",
                        "displayName": "Max Bin Age",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Demarcator File": {
                        "name": "Demarcator File",
                        "displayName": "Demarcator",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Correlation Attribute Name": {
                        "name": "Correlation Attribute Name",
                        "displayName": "Correlation Attribute Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Header File": {
                        "name": "Header File",
                        "displayName": "Header",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "mergecontent-metadata-strategy": {
                        "name": "mergecontent-metadata-strategy",
                        "displayName": "Metadata Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Minimum Number of Entries": {
                        "name": "Minimum Number of Entries",
                        "displayName": "Minimum Number of Entries",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "original",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "e4e87df8-d023-3e68-804d-ee6cda698cbd"
            },
            {
                "identifier": "16c649e3-e152-3231-82f6-ed7dc225f349",
                "name": "My_way_EvaluateJsonPath",
                "comments": "",
                "position": {
                    "x": 16,
                    "y": 248
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.11.4"
                },
                "style": {},
                "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
                "properties": {
                    "Destination": "flowfile-attribute",
                    "Return Type": "auto-detect",
                    "Null Value Representation": "empty string",
                    "table": "$.source.table",
                    "Path Not Found Behavior": "ignore"
                },
                "propertyDescriptors": {
                    "Destination": {
                        "name": "Destination",
                        "displayName": "Destination",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Return Type": {
                        "name": "Return Type",
                        "displayName": "Return Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Null Value Representation": {
                        "name": "Null Value Representation",
                        "displayName": "Null Value Representation",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "table": {
                        "name": "table",
                        "displayName": "table",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Path Not Found Behavior": {
                        "name": "Path Not Found Behavior",
                        "displayName": "Path Not Found Behavior",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure",
                    "unmatched"
                ],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "e4e87df8-d023-3e68-804d-ee6cda698cbd"
            },
            {
                "identifier": "dc7c9b6f-25ca-3f83-b1f5-e360fd1932ce",
                "name": "My_way_ExecuteScript",
                "comments": "",
                "position": {
                    "x": 576,
                    "y": 16
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-scripting-nar",
                    "version": "1.11.4"
                },
                "style": {},
                "type": "org.apache.nifi.processors.script.ExecuteScript",
                "properties": {
                    "Script File": "/etc/nifi/current/scripts/js/generate_insert_for_mssql.js",
                    "Script Engine": "ECMAScript",
                    "Script Body": null,
                    "Module Directory": null,
                    "prop_schema_name": "${gp.schema}"
                },
                "propertyDescriptors": {
                    "Script File": {
                        "name": "Script File",
                        "displayName": "Script File",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Script Engine": {
                        "name": "Script Engine",
                        "displayName": "Script Engine",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Script Body": {
                        "name": "Script Body",
                        "displayName": "Script Body",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Module Directory": {
                        "name": "Module Directory",
                        "displayName": "Module Directory",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "prop_schema_name": {
                        "name": "prop_schema_name",
                        "displayName": "prop_schema_name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "e4e87df8-d023-3e68-804d-ee6cda698cbd"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "573b20a1-47e5-3402-9abd-ffd5a8a4b843",
                "name": "",
                "source": {
                    "id": "39844850-368e-3f3b-b294-4fb05f98921e",
                    "type": "PROCESSOR",
                    "groupId": "e4e87df8-d023-3e68-804d-ee6cda698cbd",
                    "name": "My_way_ConsumeKafka_2_0",
                    "comments": ""
                },
                "destination": {
                    "id": "16c649e3-e152-3231-82f6-ed7dc225f349",
                    "type": "PROCESSOR",
                    "groupId": "e4e87df8-d023-3e68-804d-ee6cda698cbd",
                    "name": "My_way_EvaluateJsonPath",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "e4e87df8-d023-3e68-804d-ee6cda698cbd"
            },
            {
                "identifier": "fd2e331f-e622-3a79-9f59-0581ed80fa77",
                "name": "",
                "source": {
                    "id": "d2cc5cd7-0989-3d19-ab7b-64c34797b29a",
                    "type": "PROCESSOR",
                    "groupId": "e4e87df8-d023-3e68-804d-ee6cda698cbd",
                    "name": "My_way_MergeContent",
                    "comments": ""
                },
                "destination": {
                    "id": "dc7c9b6f-25ca-3f83-b1f5-e360fd1932ce",
                    "type": "PROCESSOR",
                    "groupId": "e4e87df8-d023-3e68-804d-ee6cda698cbd",
                    "name": "My_way_ExecuteScript",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "merged"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "e4e87df8-d023-3e68-804d-ee6cda698cbd"
            },
            {
                "identifier": "77eca04a-dd9d-3ac1-a161-5fb3068b71c0",
                "name": "",
                "source": {
                    "id": "16c649e3-e152-3231-82f6-ed7dc225f349",
                    "type": "PROCESSOR",
                    "groupId": "e4e87df8-d023-3e68-804d-ee6cda698cbd",
                    "name": "My_way_EvaluateJsonPath",
                    "comments": ""
                },
                "destination": {
                    "id": "d2cc5cd7-0989-3d19-ab7b-64c34797b29a",
                    "type": "PROCESSOR",
                    "groupId": "e4e87df8-d023-3e68-804d-ee6cda698cbd",
                    "name": "My_way_MergeContent",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "matched"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "e4e87df8-d023-3e68-804d-ee6cda698cbd"
            },
            {
                "identifier": "aa48c25b-7ecb-30fb-88df-1ca4a8be2acb",
                "name": "",
                "source": {
                    "id": "ecf64ea2-1749-3c78-8602-2d5d1efbfa42",
                    "type": "PROCESSOR",
                    "groupId": "e4e87df8-d023-3e68-804d-ee6cda698cbd",
                    "name": "My_way_PutSQL",
                    "comments": ""
                },
                "destination": {
                    "id": "ecf64ea2-1749-3c78-8602-2d5d1efbfa42",
                    "type": "PROCESSOR",
                    "groupId": "e4e87df8-d023-3e68-804d-ee6cda698cbd",
                    "name": "My_way_PutSQL",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "retry"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [
                    {
                        "x": 1321.3777244201403,
                        "y": 312.17175876152487
                    },
                    {
                        "x": 1321.3777244201403,
                        "y": 362.17175876152487
                    }
                ],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "e4e87df8-d023-3e68-804d-ee6cda698cbd"
            },
            {
                "identifier": "0b34ec88-ee91-3792-88a9-171b37946cbf",
                "name": "",
                "source": {
                    "id": "dc7c9b6f-25ca-3f83-b1f5-e360fd1932ce",
                    "type": "PROCESSOR",
                    "groupId": "e4e87df8-d023-3e68-804d-ee6cda698cbd",
                    "name": "My_way_ExecuteScript",
                    "comments": ""
                },
                "destination": {
                    "id": "ecf64ea2-1749-3c78-8602-2d5d1efbfa42",
                    "type": "PROCESSOR",
                    "groupId": "e4e87df8-d023-3e68-804d-ee6cda698cbd",
                    "name": "My_way_PutSQL",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "e4e87df8-d023-3e68-804d-ee6cda698cbd"
            }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [
            {
                "identifier": "a72d589c-5ec1-3d0b-bf49-452db868d248",
                "name": "MywayConnectionPool",
                "comments": "",
                "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-dbcp-service-nar",
                    "version": "1.11.4"
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.dbcp.DBCPService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.11.4"
                        }
                    }
                ],
                "properties": {
                    "dbcp-min-idle-conns": "0",
                    "Max Wait Time": "500 millis",
                    "Database Driver Class Name": "org.postgresql.Driver",
                    "dbcp-min-evictable-idle-time": "30 mins",
                    "Max Total Connections": "8",
                    "kerberos-credentials-service": null,
                    "dbcp-max-conn-lifetime": "-1",
                    "Validation-query": null,
                    "Database Connection URL": "jdbc:postgresql://${gp.server.name}:${gp.server.port}/${gp.server.database}?prepareThreshold=0",
                    "dbcp-time-between-eviction-runs": "-1",
                    "Database User": "my_way_api_ingestbot",
                    "dbcp-soft-min-evictable-idle-time": "-1",
                    "database-driver-locations": "/etc/nifi/current/lib/",
                    "dbcp-max-idle-conns": "8"
                },
                "propertyDescriptors": {
                    "dbcp-min-idle-conns": {
                        "name": "dbcp-min-idle-conns",
                        "displayName": "Minimum Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max Wait Time": {
                        "name": "Max Wait Time",
                        "displayName": "Max Wait Time",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Database Driver Class Name": {
                        "name": "Database Driver Class Name",
                        "displayName": "Database Driver Class Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "dbcp-min-evictable-idle-time": {
                        "name": "dbcp-min-evictable-idle-time",
                        "displayName": "Minimum Evictable Idle Time",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max Total Connections": {
                        "name": "Max Total Connections",
                        "displayName": "Max Total Connections",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "kerberos-credentials-service": {
                        "name": "kerberos-credentials-service",
                        "displayName": "Kerberos Credentials Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "dbcp-max-conn-lifetime": {
                        "name": "dbcp-max-conn-lifetime",
                        "displayName": "Max Connection Lifetime",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Validation-query": {
                        "name": "Validation-query",
                        "displayName": "Validation query",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Database Connection URL": {
                        "name": "Database Connection URL",
                        "displayName": "Database Connection URL",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "dbcp-time-between-eviction-runs": {
                        "name": "dbcp-time-between-eviction-runs",
                        "displayName": "Time Between Eviction Runs",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Database User": {
                        "name": "Database User",
                        "displayName": "Database User",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "dbcp-soft-min-evictable-idle-time": {
                        "name": "dbcp-soft-min-evictable-idle-time",
                        "displayName": "Soft Minimum Evictable Idle Time",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "database-driver-locations": {
                        "name": "database-driver-locations",
                        "displayName": "Database Driver Location(s)",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "dbcp-max-idle-conns": {
                        "name": "dbcp-max-idle-conns",
                        "displayName": "Max Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Password": {
                        "name": "Password",
                        "displayName": "Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    }
                },
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "e4e87df8-d023-3e68-804d-ee6cda698cbd"
            },
            {
                "identifier": "edf141d3-10cd-397f-b7c5-8ffdd8a95289",
                "name": "MywaySSL",
                "comments": "",
                "type": "org.apache.nifi.ssl.StandardSSLContextService",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-ssl-context-service-nar",
                    "version": "1.11.4"
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.ssl.SSLContextService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.11.4"
                        }
                    }
                ],
                "properties": {
                    "Truststore Type": "JKS",
                    "SSL Protocol": "TLSv1.2",
                    "Keystore Type": null,
                    "Truststore Filename": "/etc/nifi/current/adeo_empty_pass.jks",
                    "Keystore Filename": null
                },
                "propertyDescriptors": {
                    "Truststore Type": {
                        "name": "Truststore Type",
                        "displayName": "Truststore Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "SSL Protocol": {
                        "name": "SSL Protocol",
                        "displayName": "TLS Protocol",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Keystore Type": {
                        "name": "Keystore Type",
                        "displayName": "Keystore Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Truststore Filename": {
                        "name": "Truststore Filename",
                        "displayName": "Truststore Filename",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Keystore Password": {
                        "name": "Keystore Password",
                        "displayName": "Keystore Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "key-password": {
                        "name": "key-password",
                        "displayName": "Key Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "Truststore Password": {
                        "name": "Truststore Password",
                        "displayName": "Truststore Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "Keystore Filename": {
                        "name": "Keystore Filename",
                        "displayName": "Keystore Filename",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "e4e87df8-d023-3e68-804d-ee6cda698cbd"
            }
        ],
        "variables": {
            "kafka.hosts": "t-kafka-st01.hq.ru.corp.leroymerlin.com:9094,t-kafka-st02.hq.ru.corp.leroymerlin.com:9094,t-kafka-st03.hq.ru.corp.leroymerlin.com:9094\n",
            "gp.server.port": "5433",
            "gp.server.database": "adb",
            "kafka.topic": "data.myway.json.test",
            "gp.schema": "my_way_api_raw",
            "kafka.user": "myway-tdpkfk-all",
            "gp.server.name": "gp.devdata.lmru.tech",
            "kafka.group": "myway-group"
        },
        "componentType": "PROCESS_GROUP"
    },
    "externalControllerServices": {},
    "parameterContexts": {},
    "flowEncodingVersion": "1.0"
}