gcp_hr.json
{
    "flowContents": {
        "identifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b",
        "name": "gcp_hr",
        "comments": "",
        "position": {
            "x": 592,
            "y": 3792
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "22bef4b4-afdc-3c16-a4fb-102b39cd06dc",
                "name": "gcp_hr_ConsumeKafkaRecord_2_0",
                "comments": "",
                "position": {
                    "x": 1160,
                    "y": 480
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-kafka-2-0-nar",
                    "version": "1.11.4"
                },
                "style": {},
                "type": "org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0",
                "properties": {
                    "header-name-regex": null,
                    "sasl.username": "boss-tdpkfk-reader",
                    "max.poll.records": "3000",
                    "record-writer": "ca8a4825-37ac-3a16-9346-ddf564d5222d",
                    "group.id": "${kafka.group}",
                    "bootstrap.servers": "${kafka.hosts}",
                    "topic_type": "names",
                    "sasl.kerberos.principal": null,
                    "sasl.kerberos.service.name": "kafka",
                    "security.protocol": "SASL_SSL",
                    "kerberos-credentials-service": null,
                    "ssl.context.service": "e941cb41-394a-3264-b73f-7e9b5673237e",
                    "max-uncommit-offset-wait": "1 secs",
                    "sasl.mechanism": "SCRAM-SHA-256",
                    "sasl.token.auth": "false",
                    "honor-transactions": "true",
                    "sasl.kerberos.keytab": null,
                    "Communications Timeout": "60 secs",
                    "topic": "${kafka.topic}",
                    "record-reader": "abd7e808-e4ca-3a3f-9984-2009e3736519",
                    "message-header-encoding": "UTF-8",
                    "auto.offset.reset": "earliest"
                },
                "propertyDescriptors": {
                    "header-name-regex": {
                        "name": "header-name-regex",
                        "displayName": "Headers to Add as Attributes (Regex)",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "sasl.username": {
                        "name": "sasl.username",
                        "displayName": "Username",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "max.poll.records": {
                        "name": "max.poll.records",
                        "displayName": "Max Poll Records",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "record-writer": {
                        "name": "record-writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "group.id": {
                        "name": "group.id",
                        "displayName": "Group ID",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "bootstrap.servers": {
                        "name": "bootstrap.servers",
                        "displayName": "Kafka Brokers",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "topic_type": {
                        "name": "topic_type",
                        "displayName": "Topic Name Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "sasl.kerberos.principal": {
                        "name": "sasl.kerberos.principal",
                        "displayName": "Kerberos Principal",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "sasl.kerberos.service.name": {
                        "name": "sasl.kerberos.service.name",
                        "displayName": "Kerberos Service Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "security.protocol": {
                        "name": "security.protocol",
                        "displayName": "Security Protocol",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "kerberos-credentials-service": {
                        "name": "kerberos-credentials-service",
                        "displayName": "Kerberos Credentials Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "ssl.context.service": {
                        "name": "ssl.context.service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "max-uncommit-offset-wait": {
                        "name": "max-uncommit-offset-wait",
                        "displayName": "Max Uncommitted Time",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "sasl.mechanism": {
                        "name": "sasl.mechanism",
                        "displayName": "SASL Mechanism",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "sasl.token.auth": {
                        "name": "sasl.token.auth",
                        "displayName": "Token Auth",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "honor-transactions": {
                        "name": "honor-transactions",
                        "displayName": "Honor Transactions",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "sasl.kerberos.keytab": {
                        "name": "sasl.kerberos.keytab",
                        "displayName": "Kerberos Keytab",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Communications Timeout": {
                        "name": "Communications Timeout",
                        "displayName": "Communications Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "topic": {
                        "name": "topic",
                        "displayName": "Topic Name(s)",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "record-reader": {
                        "name": "record-reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "message-header-encoding": {
                        "name": "message-header-encoding",
                        "displayName": "Message Header Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "sasl.password": {
                        "name": "sasl.password",
                        "displayName": "Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "auto.offset.reset": {
                        "name": "auto.offset.reset",
                        "displayName": "Offset Reset",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 4,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "d211d5cd-6165-32bd-9e9b-c2edcad13535",
                "name": "gcp_hr_MergeContent",
                "comments": "",
                "position": {
                    "x": 1824.9536045990847,
                    "y": 672.5688089154664
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.11.4"
                },
                "style": {},
                "type": "org.apache.nifi.processors.standard.MergeContent",
                "properties": {
                    "Keep Path": "false",
                    "Maximum Group Size": "30 MB",
                    "Merge Strategy": "Bin-Packing Algorithm",
                    "Attribute Strategy": "Keep Only Common Attributes",
                    "Compression Level": "1",
                    "Maximum Number of Entries": "25000",
                    "Minimum Group Size": "0 B",
                    "Maximum number of Bins": "200",
                    "Tar Modified Time": "${file.lastModifiedTime}",
                    "Delimiter Strategy": "Text",
                    "Merge Format": "Binary Concatenation",
                    "Footer File": "]",
                    "Max Bin Age": "1 sec",
                    "Demarcator File": ",",
                    "Correlation Attribute Name": "table",
                    "Header File": "[",
                    "mergecontent-metadata-strategy": "Do Not Merge Uncommon Metadata",
                    "Minimum Number of Entries": "5000"
                },
                "propertyDescriptors": {
                    "Keep Path": {
                        "name": "Keep Path",
                        "displayName": "Keep Path",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Maximum Group Size": {
                        "name": "Maximum Group Size",
                        "displayName": "Maximum Group Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Merge Strategy": {
                        "name": "Merge Strategy",
                        "displayName": "Merge Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Attribute Strategy": {
                        "name": "Attribute Strategy",
                        "displayName": "Attribute Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Compression Level": {
                        "name": "Compression Level",
                        "displayName": "Compression Level",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Maximum Number of Entries": {
                        "name": "Maximum Number of Entries",
                        "displayName": "Maximum Number of Entries",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Minimum Group Size": {
                        "name": "Minimum Group Size",
                        "displayName": "Minimum Group Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Maximum number of Bins": {
                        "name": "Maximum number of Bins",
                        "displayName": "Maximum number of Bins",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Tar Modified Time": {
                        "name": "Tar Modified Time",
                        "displayName": "Tar Modified Time",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Delimiter Strategy": {
                        "name": "Delimiter Strategy",
                        "displayName": "Delimiter Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Merge Format": {
                        "name": "Merge Format",
                        "displayName": "Merge Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Footer File": {
                        "name": "Footer File",
                        "displayName": "Footer",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max Bin Age": {
                        "name": "Max Bin Age",
                        "displayName": "Max Bin Age",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Demarcator File": {
                        "name": "Demarcator File",
                        "displayName": "Demarcator",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Correlation Attribute Name": {
                        "name": "Correlation Attribute Name",
                        "displayName": "Correlation Attribute Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Header File": {
                        "name": "Header File",
                        "displayName": "Header",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "mergecontent-metadata-strategy": {
                        "name": "mergecontent-metadata-strategy",
                        "displayName": "Metadata Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Minimum Number of Entries": {
                        "name": "Minimum Number of Entries",
                        "displayName": "Minimum Number of Entries",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "original",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "f0b16abb-10ff-3e6f-a8e6-a51a3c95d490",
                "name": "gcp_hr_SplitJson",
                "comments": "",
                "position": {
                    "x": 1173.6946997841444,
                    "y": 1086.7794321999054
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.11.4"
                },
                "style": {},
                "type": "org.apache.nifi.processors.standard.SplitJson",
                "properties": {
                    "Null Value Representation": "empty string",
                    "JsonPath Expression": "$.*"
                },
                "propertyDescriptors": {
                    "Null Value Representation": {
                        "name": "Null Value Representation",
                        "displayName": "Null Value Representation",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "JsonPath Expression": {
                        "name": "JsonPath Expression",
                        "displayName": "JsonPath Expression",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "original",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "59b3b42b-8a83-35fd-bd82-405bb9efb65f",
                "name": "gcp_hr_Convert_DateTimes",
                "comments": "",
                "position": {
                    "x": 1167.0157120709093,
                    "y": 677.3002215336687
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-scripting-nar",
                    "version": "1.11.4"
                },
                "style": {},
                "type": "org.apache.nifi.processors.script.ExecuteScript",
                "properties": {
                    "Script File": "/etc/nifi/current/scripts/groovy/convert_avro_debezium.groovy",
                    "Script Engine": "Groovy",
                    "Script Body": null,
                    "Module Directory": "/etc/nifi/current/lib/"
                },
                "propertyDescriptors": {
                    "Script File": {
                        "name": "Script File",
                        "displayName": "Script File",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Script Engine": {
                        "name": "Script Engine",
                        "displayName": "Script Engine",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Script Body": {
                        "name": "Script Body",
                        "displayName": "Script Body",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Module Directory": {
                        "name": "Module Directory",
                        "displayName": "Module Directory",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "6ec29787-e52b-3a17-b53a-d0b6b48e0ec8",
                "name": "ConvertRecord",
                "comments": "",
                "position": {
                    "x": 554.9935486789293,
                    "y": 473.87398411107023
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.11.4"
                },
                "style": {},
                "type": "org.apache.nifi.processors.standard.ConvertRecord",
                "properties": {
                    "record-writer": "ca8a4825-37ac-3a16-9346-ddf564d5222d",
                    "record-reader": "abd7e808-e4ca-3a3f-9984-2009e3736519",
                    "include-zero-record-flowfiles": "true"
                },
                "propertyDescriptors": {
                    "record-writer": {
                        "name": "record-writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "record-reader": {
                        "name": "record-reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "include-zero-record-flowfiles": {
                        "name": "include-zero-record-flowfiles",
                        "displayName": "Include Zero Record FlowFiles",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "7a797c8d-bdb8-3b6f-a003-61301086ad4a",
                "name": "gcp_hr_EvaluateJsonPath",
                "comments": "",
                "position": {
                    "x": 1815.8960466019219,
                    "y": 480.15139731428184
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.11.4"
                },
                "style": {},
                "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
                "properties": {
                    "Destination": "flowfile-attribute",
                    "Return Type": "auto-detect",
                    "Null Value Representation": "empty string",
                    "table": "$.source.table",
                    "Path Not Found Behavior": "ignore"
                },
                "propertyDescriptors": {
                    "Destination": {
                        "name": "Destination",
                        "displayName": "Destination",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Return Type": {
                        "name": "Return Type",
                        "displayName": "Return Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Null Value Representation": {
                        "name": "Null Value Representation",
                        "displayName": "Null Value Representation",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "table": {
                        "name": "table",
                        "displayName": "table",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Path Not Found Behavior": {
                        "name": "Path Not Found Behavior",
                        "displayName": "Path Not Found Behavior",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 50,
                "concurrentlySchedulableTaskCount": 2,
                "autoTerminatedRelationships": [
                    "failure",
                    "unmatched"
                ],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "177a24a7-b225-3a0b-9b37-154da4d3be85",
                "name": "gcp_hr_Convert_To_JSON",
                "comments": "",
                "position": {
                    "x": 1172.219596856414,
                    "y": 885.7490202519821
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.11.4"
                },
                "style": {},
                "type": "org.apache.nifi.processors.standard.ConvertRecord",
                "properties": {
                    "record-writer": "a0ea7f26-0fa3-311c-ab0c-acc6d9ed30a8",
                    "record-reader": "23a85897-e3f4-34d8-aa5a-a0ee48653252",
                    "include-zero-record-flowfiles": "true"
                },
                "propertyDescriptors": {
                    "record-writer": {
                        "name": "record-writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "record-reader": {
                        "name": "record-reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "include-zero-record-flowfiles": {
                        "name": "include-zero-record-flowfiles",
                        "displayName": "Include Zero Record FlowFiles",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "26ad4758-a596-3632-b2a1-2ff85148b378",
                "name": "gcp_hr_Generate_Insert_Statements",
                "comments": "",
                "position": {
                    "x": 1809.1714372269219,
                    "y": 880.8507536379539
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-scripting-nar",
                    "version": "1.11.4"
                },
                "style": {},
                "type": "org.apache.nifi.processors.script.ExecuteScript",
                "properties": {
                    "Script File": "/etc/nifi/current/scripts/js/generate_insert_for_mssql.js",
                    "Script Engine": "ECMAScript",
                    "Script Body": null,
                    "Module Directory": null,
                    "prop_schema_name": "${gp.schema}"
                },
                "propertyDescriptors": {
                    "Script File": {
                        "name": "Script File",
                        "displayName": "Script File",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Script Engine": {
                        "name": "Script Engine",
                        "displayName": "Script Engine",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Script Body": {
                        "name": "Script Body",
                        "displayName": "Script Body",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Module Directory": {
                        "name": "Module Directory",
                        "displayName": "Module Directory",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "prop_schema_name": {
                        "name": "prop_schema_name",
                        "displayName": "prop_schema_name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "b9e69770-460e-383f-a3f4-d55117a7570a",
                "name": "gcp_hr_PutSQL",
                "comments": "",
                "position": {
                    "x": 1826.3598545990847,
                    "y": 1085.9629676422644
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.11.4"
                },
                "style": {},
                "type": "org.apache.nifi.processors.standard.PutSQL",
                "properties": {
                    "Support Fragmented Transactions": "false",
                    "putsql-sql-statement": null,
                    "Transaction Timeout": null,
                    "Batch Size": "3",
                    "Obtain Generated Keys": "false",
                    "JDBC Connection Pool": "dbb11d42-ff4d-3d5a-8964-7d9e97f8a502",
                    "database-session-autocommit": "false",
                    "rollback-on-failure": "true"
                },
                "propertyDescriptors": {
                    "Support Fragmented Transactions": {
                        "name": "Support Fragmented Transactions",
                        "displayName": "Support Fragmented Transactions",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "putsql-sql-statement": {
                        "name": "putsql-sql-statement",
                        "displayName": "SQL Statement",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Transaction Timeout": {
                        "name": "Transaction Timeout",
                        "displayName": "Transaction Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Batch Size": {
                        "name": "Batch Size",
                        "displayName": "Batch Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Obtain Generated Keys": {
                        "name": "Obtain Generated Keys",
                        "displayName": "Obtain Generated Keys",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "JDBC Connection Pool": {
                        "name": "JDBC Connection Pool",
                        "displayName": "JDBC Connection Pool",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "database-session-autocommit": {
                        "name": "database-session-autocommit",
                        "displayName": "Database Session AutoCommit",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "rollback-on-failure": {
                        "name": "rollback-on-failure",
                        "displayName": "Rollback On Failure",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "schedulingPeriod": "1 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 2,
                "autoTerminatedRelationships": [
                    "success",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "33620e35-56b5-3105-86c5-affbee2fe71e",
                "name": "",
                "source": {
                    "id": "b9e69770-460e-383f-a3f4-d55117a7570a",
                    "type": "PROCESSOR",
                    "groupId": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b",
                    "name": "gcp_hr_PutSQL",
                    "comments": ""
                },
                "destination": {
                    "id": "b9e69770-460e-383f-a3f4-d55117a7570a",
                    "type": "PROCESSOR",
                    "groupId": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b",
                    "name": "gcp_hr_PutSQL",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "retry"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [
                    {
                        "x": 2289.3598545990844,
                        "y": 1125.9629676422644
                    },
                    {
                        "x": 2289.3598545990844,
                        "y": 1175.9629676422644
                    }
                ],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "cbc73e76-3613-3f8b-aee1-91b8ed448239",
                "name": "",
                "source": {
                    "id": "6ec29787-e52b-3a17-b53a-d0b6b48e0ec8",
                    "type": "PROCESSOR",
                    "groupId": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b",
                    "name": "ConvertRecord",
                    "comments": ""
                },
                "destination": {
                    "id": "59b3b42b-8a83-35fd-bd82-405bb9efb65f",
                    "type": "PROCESSOR",
                    "groupId": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b",
                    "name": "gcp_hr_Convert_DateTimes",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "adbeec58-f9c9-369c-803b-926279e60f30",
                "name": "",
                "source": {
                    "id": "59b3b42b-8a83-35fd-bd82-405bb9efb65f",
                    "type": "PROCESSOR",
                    "groupId": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b",
                    "name": "gcp_hr_Convert_DateTimes",
                    "comments": ""
                },
                "destination": {
                    "id": "177a24a7-b225-3a0b-9b37-154da4d3be85",
                    "type": "PROCESSOR",
                    "groupId": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b",
                    "name": "gcp_hr_Convert_To_JSON",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "89a6cacd-e8b5-3718-8c72-7e0efbb72778",
                "name": "",
                "source": {
                    "id": "d211d5cd-6165-32bd-9e9b-c2edcad13535",
                    "type": "PROCESSOR",
                    "groupId": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b",
                    "name": "gcp_hr_MergeContent",
                    "comments": ""
                },
                "destination": {
                    "id": "26ad4758-a596-3632-b2a1-2ff85148b378",
                    "type": "PROCESSOR",
                    "groupId": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b",
                    "name": "gcp_hr_Generate_Insert_Statements",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "merged"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "bebb7a95-5663-3533-86b2-fe3565d1520d",
                "name": "",
                "source": {
                    "id": "26ad4758-a596-3632-b2a1-2ff85148b378",
                    "type": "PROCESSOR",
                    "groupId": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b",
                    "name": "gcp_hr_Generate_Insert_Statements",
                    "comments": ""
                },
                "destination": {
                    "id": "b9e69770-460e-383f-a3f4-d55117a7570a",
                    "type": "PROCESSOR",
                    "groupId": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b",
                    "name": "gcp_hr_PutSQL",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "740485fb-c776-316d-b64a-76ceb60c5565",
                "name": "",
                "source": {
                    "id": "7a797c8d-bdb8-3b6f-a003-61301086ad4a",
                    "type": "PROCESSOR",
                    "groupId": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b",
                    "name": "gcp_hr_EvaluateJsonPath",
                    "comments": ""
                },
                "destination": {
                    "id": "d211d5cd-6165-32bd-9e9b-c2edcad13535",
                    "type": "PROCESSOR",
                    "groupId": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b",
                    "name": "gcp_hr_MergeContent",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "matched"
                ],
                "backPressureObjectThreshold": 500000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "69def6d3-6201-3ec9-b108-618b6bd620a3",
                "name": "",
                "source": {
                    "id": "22bef4b4-afdc-3c16-a4fb-102b39cd06dc",
                    "type": "PROCESSOR",
                    "groupId": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b",
                    "name": "gcp_hr_ConsumeKafkaRecord_2_0",
                    "comments": ""
                },
                "destination": {
                    "id": "6ec29787-e52b-3a17-b53a-d0b6b48e0ec8",
                    "type": "PROCESSOR",
                    "groupId": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b",
                    "name": "ConvertRecord",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "parse.failure"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "c2454ff5-64c0-312a-9179-b3be20cf8a82",
                "name": "",
                "source": {
                    "id": "177a24a7-b225-3a0b-9b37-154da4d3be85",
                    "type": "PROCESSOR",
                    "groupId": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b",
                    "name": "gcp_hr_Convert_To_JSON",
                    "comments": ""
                },
                "destination": {
                    "id": "f0b16abb-10ff-3e6f-a8e6-a51a3c95d490",
                    "type": "PROCESSOR",
                    "groupId": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b",
                    "name": "gcp_hr_SplitJson",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "7ea00c2e-2ca7-337f-9e8a-90441a7a2063",
                "name": "",
                "source": {
                    "id": "22bef4b4-afdc-3c16-a4fb-102b39cd06dc",
                    "type": "PROCESSOR",
                    "groupId": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b",
                    "name": "gcp_hr_ConsumeKafkaRecord_2_0",
                    "comments": ""
                },
                "destination": {
                    "id": "59b3b42b-8a83-35fd-bd82-405bb9efb65f",
                    "type": "PROCESSOR",
                    "groupId": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b",
                    "name": "gcp_hr_Convert_DateTimes",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "e1698196-8889-36ba-9afa-5f1b894a401b",
                "name": "",
                "source": {
                    "id": "f0b16abb-10ff-3e6f-a8e6-a51a3c95d490",
                    "type": "PROCESSOR",
                    "groupId": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b",
                    "name": "gcp_hr_SplitJson",
                    "comments": ""
                },
                "destination": {
                    "id": "7a797c8d-bdb8-3b6f-a003-61301086ad4a",
                    "type": "PROCESSOR",
                    "groupId": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b",
                    "name": "gcp_hr_EvaluateJsonPath",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "split"
                ],
                "backPressureObjectThreshold": 100000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "1ad73eb0-5e4e-3cf0-a551-53969e5502a0",
                "name": "",
                "source": {
                    "id": "6ec29787-e52b-3a17-b53a-d0b6b48e0ec8",
                    "type": "PROCESSOR",
                    "groupId": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b",
                    "name": "ConvertRecord",
                    "comments": ""
                },
                "destination": {
                    "id": "6ec29787-e52b-3a17-b53a-d0b6b48e0ec8",
                    "type": "PROCESSOR",
                    "groupId": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b",
                    "name": "ConvertRecord",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "failure"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [
                    {
                        "x": 419.9727967258043,
                        "y": 470.3815753586288
                    },
                    {
                        "x": 421.5260193820543,
                        "y": 565.4272830612656
                    }
                ],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [
            {
                "identifier": "e941cb41-394a-3264-b73f-7e9b5673237e",
                "name": "gcp_hr_SSLContextService_Kafka",
                "comments": "",
                "type": "org.apache.nifi.ssl.StandardSSLContextService",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-ssl-context-service-nar",
                    "version": "1.11.4"
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.ssl.SSLContextService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.11.4"
                        }
                    }
                ],
                "properties": {
                    "Truststore Type": "JKS",
                    "SSL Protocol": "TLSv1.2",
                    "Keystore Type": null,
                    "Truststore Filename": "/etc/nifi/current/adeo_empty_pass.jks",
                    "Keystore Filename": null
                },
                "propertyDescriptors": {
                    "Truststore Type": {
                        "name": "Truststore Type",
                        "displayName": "Truststore Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "SSL Protocol": {
                        "name": "SSL Protocol",
                        "displayName": "TLS Protocol",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Keystore Type": {
                        "name": "Keystore Type",
                        "displayName": "Keystore Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Truststore Filename": {
                        "name": "Truststore Filename",
                        "displayName": "Truststore Filename",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Keystore Password": {
                        "name": "Keystore Password",
                        "displayName": "Keystore Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "key-password": {
                        "name": "key-password",
                        "displayName": "Key Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "Truststore Password": {
                        "name": "Truststore Password",
                        "displayName": "Truststore Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "Keystore Filename": {
                        "name": "Keystore Filename",
                        "displayName": "Keystore Filename",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "dbb11d42-ff4d-3d5a-8964-7d9e97f8a502",
                "name": "gcp_hr",
                "comments": "",
                "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-dbcp-service-nar",
                    "version": "1.11.4"
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.dbcp.DBCPService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.11.4"
                        }
                    }
                ],
                "properties": {
                    "dbcp-min-idle-conns": "0",
                    "Max Wait Time": "500 millis",
                    "Database Driver Class Name": "org.postgresql.Driver",
                    "dbcp-min-evictable-idle-time": "30 mins",
                    "Max Total Connections": "8",
                    "kerberos-credentials-service": null,
                    "dbcp-max-conn-lifetime": "-1",
                    "Validation-query": null,
                    "Database Connection URL": "jdbc:postgresql://${gp.server.name}:${gp.server.port}/${gp.server.database}?prepareThreshold=0",
                    "dbcp-time-between-eviction-runs": "-1",
                    "Database User": "gcp_hr_ingestbot",
                    "dbcp-soft-min-evictable-idle-time": "-1",
                    "database-driver-locations": "/etc/nifi/current/lib/",
                    "dbcp-max-idle-conns": "8"
                },
                "propertyDescriptors": {
                    "dbcp-min-idle-conns": {
                        "name": "dbcp-min-idle-conns",
                        "displayName": "Minimum Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max Wait Time": {
                        "name": "Max Wait Time",
                        "displayName": "Max Wait Time",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Database Driver Class Name": {
                        "name": "Database Driver Class Name",
                        "displayName": "Database Driver Class Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "dbcp-min-evictable-idle-time": {
                        "name": "dbcp-min-evictable-idle-time",
                        "displayName": "Minimum Evictable Idle Time",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max Total Connections": {
                        "name": "Max Total Connections",
                        "displayName": "Max Total Connections",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "kerberos-credentials-service": {
                        "name": "kerberos-credentials-service",
                        "displayName": "Kerberos Credentials Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "dbcp-max-conn-lifetime": {
                        "name": "dbcp-max-conn-lifetime",
                        "displayName": "Max Connection Lifetime",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Validation-query": {
                        "name": "Validation-query",
                        "displayName": "Validation query",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Database Connection URL": {
                        "name": "Database Connection URL",
                        "displayName": "Database Connection URL",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "dbcp-time-between-eviction-runs": {
                        "name": "dbcp-time-between-eviction-runs",
                        "displayName": "Time Between Eviction Runs",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Database User": {
                        "name": "Database User",
                        "displayName": "Database User",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "dbcp-soft-min-evictable-idle-time": {
                        "name": "dbcp-soft-min-evictable-idle-time",
                        "displayName": "Soft Minimum Evictable Idle Time",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "database-driver-locations": {
                        "name": "database-driver-locations",
                        "displayName": "Database Driver Location(s)",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "dbcp-max-idle-conns": {
                        "name": "dbcp-max-idle-conns",
                        "displayName": "Max Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Password": {
                        "name": "Password",
                        "displayName": "Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    }
                },
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "c4c280f3-1190-3128-8b07-309d1a96aa21",
                "name": "ConfluentSchemaRegistry_from_Kafka",
                "comments": "",
                "type": "org.apache.nifi.confluent.schemaregistry.ConfluentSchemaRegistry",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-confluent-platform-nar",
                    "version": "1.11.4"
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.schemaregistry.services.SchemaRegistry",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.11.4"
                        }
                    }
                ],
                "properties": {
                    "cache-expiration": "1 hour",
                    "cache-size": "1000",
                    "ssl-context": null,
                    "url": "${kafka.schema.registry}",
                    "timeout": "30 secs"
                },
                "propertyDescriptors": {
                    "cache-expiration": {
                        "name": "cache-expiration",
                        "displayName": "Cache Expiration",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "cache-size": {
                        "name": "cache-size",
                        "displayName": "Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "ssl-context": {
                        "name": "ssl-context",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "url": {
                        "name": "url",
                        "displayName": "Schema Registry URLs",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "timeout": {
                        "name": "timeout",
                        "displayName": "Communications Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "abd7e808-e4ca-3a3f-9984-2009e3736519",
                "name": "AvroReader_from_Kafka",
                "comments": "",
                "type": "org.apache.nifi.avro.AvroReader",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "1.11.4"
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordReaderFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.11.4"
                        }
                    }
                ],
                "properties": {
                    "schema-branch": null,
                    "schema-name": "${schema.name}",
                    "cache-size": "1000",
                    "schema-registry": "c4c280f3-1190-3128-8b07-309d1a96aa21",
                    "schema-access-strategy": "confluent-encoded",
                    "schema-version": null,
                    "schema-text": "${avro.schema}"
                },
                "propertyDescriptors": {
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "cache-size": {
                        "name": "cache-size",
                        "displayName": "Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "23a85897-e3f4-34d8-aa5a-a0ee48653252",
                "name": "AvroReader_EmbeddedSchema",
                "comments": "",
                "type": "org.apache.nifi.avro.AvroReader",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "1.11.4"
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordReaderFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.11.4"
                        }
                    }
                ],
                "properties": {
                    "schema-branch": null,
                    "schema-name": "${schema.name}",
                    "cache-size": "1000",
                    "schema-registry": null,
                    "schema-access-strategy": "embedded-avro-schema",
                    "schema-version": null,
                    "schema-text": "${avro.schema}"
                },
                "propertyDescriptors": {
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "cache-size": {
                        "name": "cache-size",
                        "displayName": "Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "ca8a4825-37ac-3a16-9346-ddf564d5222d",
                "name": "AvroRecordSetWriter_from_Kafka",
                "comments": "",
                "type": "org.apache.nifi.avro.AvroRecordSetWriter",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "1.11.4"
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.11.4"
                        }
                    }
                ],
                "properties": {
                    "compression-format": "NONE",
                    "Schema Write Strategy": "avro-embedded",
                    "schema-branch": null,
                    "schema-name": "${schema.name}",
                    "cache-size": "1000",
                    "schema-registry": null,
                    "schema-access-strategy": "inherit-record-schema",
                    "schema-version": null,
                    "encoder-pool-size": "32",
                    "schema-cache": null,
                    "schema-text": "${avro.schema}"
                },
                "propertyDescriptors": {
                    "compression-format": {
                        "name": "compression-format",
                        "displayName": "Compression Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Schema Write Strategy": {
                        "name": "Schema Write Strategy",
                        "displayName": "Schema Write Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "cache-size": {
                        "name": "cache-size",
                        "displayName": "Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "encoder-pool-size": {
                        "name": "encoder-pool-size",
                        "displayName": "Encoder Pool Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-cache": {
                        "name": "schema-cache",
                        "displayName": "Schema Cache",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            },
            {
                "identifier": "a0ea7f26-0fa3-311c-ab0c-acc6d9ed30a8",
                "name": "JsonRecordSetWriter",
                "comments": "",
                "type": "org.apache.nifi.json.JsonRecordSetWriter",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "1.11.4"
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.11.4"
                        }
                    }
                ],
                "properties": {
                    "schema-branch": null,
                    "compression-level": "1",
                    "schema-cache": null,
                    "Timestamp Format": "yyyy-MM-dd HH:mm:ss.SSS",
                    "Date Format": "yyyy-MM-dd HH:mm:ss.SSS",
                    "Pretty Print JSON": "false",
                    "compression-format": "none",
                    "Schema Write Strategy": "no-schema",
                    "suppress-nulls": "never-suppress",
                    "output-grouping": "output-array",
                    "schema-name": "${schema.name}",
                    "schema-registry": null,
                    "Time Format": null,
                    "schema-access-strategy": "inherit-record-schema",
                    "schema-version": null,
                    "schema-text": "${avro.schema}"
                },
                "propertyDescriptors": {
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "compression-level": {
                        "name": "compression-level",
                        "displayName": "Compression Level",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-cache": {
                        "name": "schema-cache",
                        "displayName": "Schema Cache",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Pretty Print JSON": {
                        "name": "Pretty Print JSON",
                        "displayName": "Pretty Print JSON",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "compression-format": {
                        "name": "compression-format",
                        "displayName": "Compression Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Schema Write Strategy": {
                        "name": "Schema Write Strategy",
                        "displayName": "Schema Write Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "suppress-nulls": {
                        "name": "suppress-nulls",
                        "displayName": "Suppress Null Values",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "output-grouping": {
                        "name": "output-grouping",
                        "displayName": "Output Grouping",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "1b993e2c-c5c5-37e6-8a71-dcf6ca5bf38b"
            }
        ],
        "variables": {
            "kafka.schema.registry": "http://t-kafka-st03.hq.ru.corp.leroymerlin.com:8081",
            "kafka.hosts": "t-kafka-st01.hq.ru.corp.leroymerlin.com:9094,t-kafka-st02.hq.ru.corp.leroymerlin.com:9094,t-kafka-st03.hq.ru.corp.leroymerlin.com:9094",
            "gp.server.port": "5433",
            "gp.server.database": "adb",
            "kafka.topic": "data.init.boss.gcp.avro.test",
            "gp.schema": "gcp_hr_raw",
            "gp.server.name": "gp.devdata.lmru.tech",
            "kafka.group": "boss-group-test-gcp"
        },
        "componentType": "PROCESS_GROUP"
    },
    "externalControllerServices": {},
    "parameterContexts": {},
    "flowEncodingVersion": "1.0"
}